@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GeistVF";
  src: url('../../public/fonts/GeistVF.woff');
}

@font-face {
  font-family: "GeistMonoVF";
  src: url('../../public/fonts/GeistMonoVF.woff');
}

:root {
  --font-geist-mono: "GeistMonoVF", monospace;
  --font-geist-sans: "GeistVF", sans-serif;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.92%;
  --primary: 240 5.86% 10%;
  --secondary: 240 4.8% 15.92%;
  --accent: 240 4.85% 20.49%;
  --muted: 240 4.85% 15.92%;
  --destructive: 0 84.2% 60.2%;
  --accent-foreground: 0 0% 100%;
}


body {
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--foreground);
  position: relative;
}
