@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GeistVF";
  src: url('../../public/fonts/GeistVF.woff');
}

@font-face {
  font-family: "GeistMonoVF";
  src: url('../../public/fonts/GeistMonoVF.woff');
}

:root {
  --font-geist-mono: "GeistMonoVF", monospace;
  --font-geist-sans: "GeistVF", sans-serif;
  --background: black;
  --foreground: white;
  --primary: yellow;
  --secondary: red;
}


body {
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--foreground);
  position: relative;
}
